# Node.js
node_modules/
npm-debug.log*
*.log

# Environment files
.env
.env.*
!.env.example

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# Terraform - DO NOT PUSH THESE
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json

# Ansible - sensitive files
ansible/inventory.ini

# SSH Keys - NEVER PUSH
*.pem
*.key

# Docker
.dockerignore
.vscode/
aws/
awscliv2.zip
y
ansible/{
